[submodule "vendors/marked"]
	path = vendors/marked
	url = https://github.com/chjj/marked.git
[submodule "vendors/mousetrap"]
	path = vendors/mousetrap
	url = https://github.com/ccampbell/mousetrap.git
[submodule "vendors/to-markdown"]
	path = vendors/to-markdown
	url = https://github.com/domchristie/to-markdown.git
